

<div id="main-div">
    <h1>Checkout</h1>
    <div><p>user: </p> <p id="user"></p></div>
    <div><p>code: </p><p id="code"></p></div>
    <div><p>amount: </p><p id="amount"></p></div>
</div>

<button id="home-button">Home</button>

<script src="/js/checkout.js"></script>
<link rel="stylesheet" href="/css/checkout.css">