*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    
}

body {
    color: rgb(222,222,222);
    background-color: rgb(15,15,15);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}


.user-div {
    background-color: #222222;
    padding:10px;
    margin: 10px;
    height: 100px;
    width: 1000px;
    border-radius: 10px;
    display: flex;
    gap: 30px;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}

.del-button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border-color: transparent transparent;
}
.edit-button {
    height: 40px;
    width: 100px;
    border-radius: 20px;
    border-color: transparent transparent;
}