<div>
    <h1>UserList</h1>
    <button id="home-button">Home</button>
    <button id="mock-button">Mock</button>
    <button id="del-unused-button">Delete unused</button>
    <div id="user-container">
        
    </div>
</div>

<script src="/js/admin-user-list.js"></script>
<link rel="stylesheet" href="/css/admin-user-list.css">