<div>
    <h1>Login using Github</h1>
    <a href="/api/sessions/github"> <button>Login with GitHub</button> </a>
    <br>
    <h2>You dont want to use github? Try these alternatives:</h2>
    <p> Not registered yet? <a href="/users/register">Register here</a></p>
    <p> Do you already have an account? <a href="/users/login">Login here</a></p>
</div>