<div id="main-div">
    <div id="hero-div">  </div>
    
    <div id="desc-div">
        <h1>MarketPlace</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo quibusdam fuga ipsa odit autem quaerat sed inventore sint placeat, cum tempore consectetur asperiores voluptatibus. Possimus consequatur rem quaerat id dignissimos.</p>
        <div id="button-section">
            <button class="section" id="products-button">Products</button>
            <button class="section" id="profile-button">Profile</button>
            <button class="section" id="cart-button">Cart</button>
            <button class="section" id="logout-button">Logout</button>
        </div>
    </div>
    
</div>
<script src="/js/home.js"></script>
<link rel="stylesheet" href="/css/home-page.css">
