<div>
    <h1>Login</h1>
    <form id="loginForm">
        <label>Email</label>
        <input name="email">
        <br>
        <label>Password</label>
        <input name="password">
        <br>

        <input type="submit">
       
    </form>
     <p>If you don't have an account <a href="/users/register">click here!</a></p>
     <p>or <a href="/github/login">login with a Github account</a></p>
     <p>If you forgot your password <a href="/users/restorePassword/">click here!</a></p>
</div>

<script src="/js/login.js"></script>