
<div>
    <h1>Store</h1>
    <div id="product-div"></div>
    <button id="logout-button">Logout</button>
    <button id="cart-button">Cart</button>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/products.js"></script>
<link rel="stylesheet" href="/css/product-display.css">

