
<div>
    <h1>Realtime!</h1>
    <div id="product-div"></div>
    <button id="logout-button">Logout</button>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
<link rel="stylesheet" href="/css/product-display.css">

