<div>
    <h1>Register</h1>
    <form id="registerForm">
        <label>Name</label>
        <input name="first_name">
        <br>
        <label>Last name</label>
        <input name="last_name">
        <br>
        <label>Email</label>
        <input name="email" type="mail">
        <br>
        <label>Age</label>
        <input name="age" type="number">
        <br>
        <label>Password</label>
        <input name="password">
        <br>

        <input type="submit">
    </form>
    <p>If you already have an account <a href="/users/login">click here!</a></p>
</div>

<script src="/js/register.js"></script>