<div>
    <h1>Restore password</h1>
    <form id="restoreForm">
        <label>New password</label>
        <input name="password">
        <br>
        <input type="submit">
    </form>
</div>

<script src="/js/writePassword.js"></script>