*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    
}

#logout-button {
    position: absolute;
    left: 60px;
    top: 40px;
}
#cart-button {
    position: absolute;
    right:  60px;
    top: 40px;
}

#home-button {
    position: absolute;
    left:  130px;
    top: 40px;
}

h1 {
    text-align: center;
}
body {
    color: rgb(222,222,222);
    background-color: rgb(15,15,15);
   
    display:flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.prodNum {
    color: white;
    position:absolute;
    left: 50px;
}

.product {
    display:flex;
    justify-content: center;
    align-items: center;
    gap:20px;

    background-color: rgb(30,30,30);
    padding: 5px;
    padding-inline: 30px;
    margin: 10px;
    border-radius: 20px;
}