<div>
    <h1>Ejemplo, test funcionamiento</h1>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>


{{!
    Esta plantilla debe
    Contiener todos los productos agregados hasta el momento
    

}}